<!DOCTYPE html>
<html lang="ru" >
<head>
  <meta charset="UTF-8">
  <title>___</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='animations.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='first_boot.css') }}">
</head>
<body class="body_hide" id="bodd">
<script type="text/javascript">
window.onload = function() {document.getElementById('bodd').className = "body_visible";}
</script>
<h1 style="color: white;">The're will be a page with settings for auto mode.</h1>
</body>
</html>