<!DOCTYPE html>
<html lang="ru" >
<head>
  <meta charset="UTF-8">
  <title>___</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='animations.css') }}">
  <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='first_boot.css') }}">
</head>
<body id="bodd" class="body_hide">
  <h1 style="color: white;" class="animate__animated animate__fadeOutDown animate__delay-1s">You don't need to set it up.  Just enjoy</h1>
  <h1 style="opacity: 0;">______</h1>
<script type="text/javascript">
            window.onload = function chgcla_ai() {
                document.getElementById('bodd').className = "body_visible";
                setTimeout(function f() {
                    document.getElementById('bodd').className = "body_hide_d";
                    setTimeout(function() {
                    window.location.href = '/';
                    }, 1500);
                }, 3000);
            }
</script>
</body>
</html>